{% extends 'base.html.twig' %}
{% block title %}Add Category - Admin{% endblock %}
{% block body %}
<div class="breadcrumb"><a href="{{ path('app_admin_dashboard') }}">Admin</a> &raquo; <a href="{{ path('app_admin_categories') }}">Categories</a> &raquo; New</div>
<div class="form-container">
    <h1>Add New Category</h1>
    {{ form_start(form, {'attr': {'class': 'form'}}) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.name) }}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{{ path('app_admin_categories') }}" class="btn btn-secondary">Cancel</a>
    {{ form_end(form) }}
</div>
{% endblock %}
