{% extends 'base.html.twig' %}

{% block title %}Edit Language - LibraryHub{% endblock %}

{% block body %}
<div class="breadcrumb">
    <a href="{{ path('app_librarian_dashboard') }}">Librarian</a> &raquo;
    <a href="{{ path('app_librarian_languages') }}">Languages</a> &raquo; Edit
</div>

<div class="form-container">
    <h1>Edit: {{ language.name }}</h1>
    {{ form_start(form, {'attr': {'class': 'form'}}) }}
        <div class="form-row">
            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.name) }}
            </div>
            <div class="form-group">
                {{ form_label(form.code) }}
                {{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.code) }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{{ path('app_librarian_languages') }}" class="btn btn-secondary">Cancel</a>
    {{ form_end(form) }}
</div>
{% endblock %}
